<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="gr.cite.femme" level="info"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- <logger></logger> -->

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
<!-- <?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="WEBAPP_LOGS" value="/home/kapostolopoulos/apache-tomcat-8.5.4/logs" />

	<appender name="FILE-AUDIT"
		class="ch.qos.logbconfigcore.rolling.RollingFileAppender">
		<file>./logs/femme-application.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logbconfigcore.rolling.TimeBasedRollingPolicy">
			rollover daily
			<fileNamePattern>./logs/archived/trending.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logbconfigcore.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<logger name="gr.cite.femme" level="INFO" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE-AUDIT" />
	</root>

</configuration> -->