<!--<nav id="femme-navbar" class="navbar fixed-top no-border-radius">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img id="femme-logo" class="img-fluid" alt="FeMME" src="../assets/images/Femme_logo_white.png">
		</a>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</div>
</nav>-->
<femme-app-navbar></femme-app-navbar>
<div class="container-fluid main-panel">
	<!--<femme-app-search></femme-app-search>-->
	<router-outlet></router-outlet>
</div>
<!--<femme-app-side-panel></femme-app-side-panel>-->

<!--<div id="femme-main" class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 side-panel">
			<typeahead-http></typeahead-http>
		</div>
		<div class="xs-hidden col-sm-8 col-md-9 main-panel">
		</div>
	</div>
</div>-->
