<!-- <mat-toolbar color="primary">
	<span>FeMME</span>
</mat-toolbar> -->

<nav class="navbar navbar-default" id="service-navbar">
	<div class="container-fluid">
		<div class="navbar-header pull-left">
			<a href="http://www.earthserver.eu" class="navbar-brand earthserver-logo">
				<img alt="EarthServer Logo" src="../earthserver_logo.png" class="img-responsive">
			</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="../explore">Explore</a></li>
			<li class="active"><a href=".">Search</a></li>
			<li><a href="../xwcps">xWCPS</a></li>
			<li><a href="../harvester">Harvester</a></li>
		</ul>
	</div>
</nav>