<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			&lt;!&ndash;<Pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%thread] %-5level %logger{36} - %msg%n</Pattern>&ndash;&gt;
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %message%n</Pattern>
		</encoder>
	</appender>
	<logger name="gr.cite.femme.fulltext" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>-->



	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${CATALINA_HOME}/logs/fulltext.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${CATALINA_HOME}/logs/archived/fulltext.%d{yyyy-MM}.%i.log</fileNamePattern>
			<triggeringPolicy class="ch.qos.logbconfigcore.rolling.SizeBasedTriggeringPolicy">
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>30MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
			</triggeringPolicy>
			<maxHistory>12</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %message%n</Pattern>
		</encoder>
	</appender>
	<logger name="gr.cite.femme.fulltext" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>