<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--<Pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %message%n</Pattern>
		</encoder>
	</appender>
	<logger name="gr.cite.femme.fulltext" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>