<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="gr.cite.femme" level="debug"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- <logger></logger> -->

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
<!-- <configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.FileAppender">
		<file>oaiprovider.log</file>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>

	<logger></logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration> -->