<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<!--<appender name="FILE" class="ch.qos.logbconfigcore.rolling.RollingFileAppender">
       <file>${CATALINA_HOME}/logs/femme.log</file>
       <rollingPolicy class="ch.qos.logbconfigcore.rolling.TimeBasedRollingPolicy">
           <fileNamePattern>${CATALINA_HOME}/logs/archived/femme.%d{yyyy-MM}.%i.log</fileNamePattern>
           <triggeringPolicy class="ch.qos.logbconfigcore.rolling.SizeBasedTriggeringPolicy">
               <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logbconfigcore.rolling.SizeAndTimeBasedFNATP">
                   <maxFileSize>30MB</maxFileSize>
               </timeBasedFileNamingAndTriggeringPolicy>
           </triggeringPolicy>
           <maxHistory>12</maxHistory>
       </rollingPolicy>

       <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
           <Pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %message%n</Pattern>
       </encoder>
   </appender>-->
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--<Pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
			<Pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %message%n</Pattern>
		</encoder>
	</appender>

	<!--FeMME Loggers-->
	<logger name="gr.cite.femme.application" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="FILE" />-->
	</logger>
	<logger name="gr.cite.femme.engine" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		 <!--<appender-ref ref="FILE" />-->
	</logger>
	<logger name="gr.cite.femme.engine.datastore" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		 <!--<appender-ref ref="FILE" />-->
	</logger>
	<logger name="gr.cite.femme.engine.metadatastore" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		 <!--<appender-ref ref="FILE" />-->
	</logger>
	<logger name="gr.cite.femme.engine.queries" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		 <!--<appender-ref ref="FILE" />-->
	</logger>
	<logger name="gr.cite.femme.engine.metadata.xpath" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		 <!--<appender-ref ref="FILE" />-->
	</logger>

	<!--MongoDB Loggers-->
	<logger name="org.mongodb.driver" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		 <!--<appender-ref ref="FILE" />-->
	</logger>


	<root level="INFO">
		<appender-ref ref="STDOUT" />
		 <!--<appender-ref ref="FILE" />-->
	</root>

</configuration>