<div class="femme-search-container">
	<mat-button-toggle-group #group="matButtonToggleGroup" aria-label="Query Type">
		<mat-button-toggle checked value="Search">Search</mat-button-toggle>
		<mat-button-toggle value="XPath">XPath</mat-button-toggle>
	</mat-button-toggle-group>
	
	<form class="fulltext-search-form" *ngIf="group.value=='Search'" (ngSubmit)="fulltextQuery()">
		<mat-form-field class="search-form-field">
			<input class ="search-form-field-input"type="text" [placeholder]="group.value" aria-label="Number" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
			<button mat-icon-button class="search-filters-button" type="button" (click)="filterButtonClick($event)">
				<mat-icon aria-label="Filters">filter_list</mat-icon>
			</button>
			<mat-autocomplete #auto="matAutocomplete" [displayWith]="elementToDisplayValue" (optionSelected)="selectFromAutocomplete($event)">
				<!-- <mat-option *ngFor="let result of searchResults | async" [value]="result">
					{{ result.fulltext["testField"] }}
					<mat-option *ngFor="let semantic of result.semantic" [value]="semantic">
							{{ semantic["testField"] }}
						</mat-option>
				</mat-option> -->
				<div *ngFor="let result of searchResults | async">
					<mat-option *ngIf="!result.semantic" [value]="result">
						{{ result | extractFulltextFields }}
					</mat-option>
					<div *ngIf="result.semantic">
						<mat-optgroup [label]="result.fulltext[defaultFieldShown]">
							<mat-option *ngFor="let semantic of result.semantic" [value]='result'>
								{{ semantic[defaultFieldShown] }}
							</mat-option>
						</mat-optgroup>
					</div>	
				</div>
			</mat-autocomplete>
			<div class="field-names mat-elevation-z4" [@collapse]="showFields" (click)="stopProp($event)">
				<label class="field-names-margin">Fields:</label>
				<mat-radio-group name="search-field-selector" [(ngModel)]="searchField">
					<mat-radio-button class="field-names-margin" value="all_fields">All</mat-radio-button>
					<mat-radio-button class="field-names-margin" value="name">Name</mat-radio-button>
				</mat-radio-group>
			</div>
		</mat-form-field>

		<mat-form-field class="expansion-type-selector">
			<mat-select placeholder="Expansion" [(value)]="expansionType">
				<mat-option>None</mat-option>
				<mat-option *ngFor="let type of expansionTypes" [value]="type">{{ type }}</mat-option>
			</mat-select>
		</mat-form-field>
	</form>

	<form class="xpath-form" *ngIf="group.value=='XPath'" (ngSubmit)="xpathQuery()" #xpathForm="ngForm">
		<mat-form-field class="xpath-form-input">
			<input type="text" [placeholder]="group.value" aria-label="XPath" matInput [formControl]="xpathTerm">
		</mat-form-field>
	</form>
</div>