<div class="femme-search-container">
	<mat-button-toggle-group #group="matButtonToggleGroup" aria-label="Query Type" class="query-type-toggle">
		<mat-button-toggle checked value="Search">Search</mat-button-toggle>
		<mat-button-toggle value="XPath">XPath</mat-button-toggle>
	</mat-button-toggle-group>
	
	<form class="fulltext-search-form" *ngIf="group.value=='Search'" [formGroup]="fulltextQueryForm" (ngSubmit)="fulltextQuery()">
		<mat-form-field class="search-form-field">
			<input class ="search-form-field-input" type="text" [placeholder]="group.value" aria-label="Number" matInput formControlName="searchTerm" [matAutocomplete]="auto">
			<mat-spinner *ngIf="loading" [diameter]=25></mat-spinner>
			<!-- <mat-autocomplete #auto="matAutocomplete" [displayWith]="elementToDisplayValue" (optionSelected)="selectFromAutocomplete($event)"> -->
				<mat-autocomplete #auto="matAutocomplete" [displayWith]="elementToDisplayValue">
				<!-- <mat-option *ngFor="let result of searchResults | async" [value]="result">
					{{ result.fulltext["testField"] }}
					<mat-option *ngFor="let semantic of result.semantic" [value]="semantic">
							{{ semantic["testField"] }}
						</mat-option>
				</mat-option> -->
				<div *ngFor="let result of searchResults">
					<mat-option *ngIf="result.semantic.length == 0" [value]="result">
						{{ result | extractFulltextFields }}
					</mat-option>
					<div *ngIf="result.semantic.length > 0">
						<mat-optgroup [label]="result.fulltext[defaultFieldShown]">
							<ng-container *ngFor="let group of result.semantic">
									<mat-option *ngFor="let doc of group" [value]='doc.term'>
										{{ doc.term }}
									</mat-option>
								<div *ngIf="result.semantic.length > 1" class="semantic-group-separator"></div>
							</ng-container>
							<!-- <mat-option *ngFor="let docsPerScore of result.semantic.values()">
								aaaaaaaaaa -->
									<!-- <mat-option *ngFor="let doc of docsPerScore" [value]='doc'> -->
											<!-- {{ docsPerScore[0][defaultFieldShown] }} -->
									<!-- </mat-option> -->
							<!-- </mat-option> -->
						</mat-optgroup>
					</div>	
				</div>
			</mat-autocomplete>
		</mat-form-field>

		<mat-form-field class="expansion-type-selector">
			<mat-select placeholder="Expansion" [(value)]="expansionTypeValue" formControlName="expansionType">
				<mat-option>Plain</mat-option>
				<mat-option *ngFor="let type of expansionTypes" [value]="type">{{ type }}</mat-option>
			</mat-select>
		</mat-form-field>
	</form>

	<form class="xpath-form" *ngIf="group.value=='XPath'" (ngSubmit)="xpathQuery()" #xpathForm="ngForm">
		<mat-form-field class="xpath-form-input">
			<input type="text" [placeholder]="group.value" aria-label="XPath" matInput [formControl]="xpathTerm">
		</mat-form-field>
	</form>
</div>